.ui-menu__overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    cursor: auto;
}

.ui-menu {
    position: absolute;
    word-break: break-all;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    z-index: 4;

    &__content {
        overflow: auto;
        box-shadow: $boxShadowSmall;
    }

    &.open {
        opacity: 1;
        transform: translateY(0);
    }

    &.close {
        transform: translateY(-10px);
        opacity: 0;
    }

    .ui-menu__item {
        border: none;
        padding: 8px 16px;
        position: relative;
        background-color: transparent;
        color: var(--text-primary);
        transition: all $animation;
        border-radius: var(--radius);

        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: var(--divider);
        }
    }
}