.ui-card {
    position: relative;
    border-radius: var(--radius);
    border: 1px solid var(--divider);
    background-color: var(--background-default);
    transition: all $animation;

    &--clickable {
        cursor: pointer;

        &:hover {
            box-shadow: $boxShadowRegular;
        }
    }

    &__content {
        padding: 16px;
        width: 100%;
    }
}