.social-button {
    font-size: 22px;

    min-width: 50px;
    min-height: 50px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all $animation;
}