.ui-alert-container {
    top: 15px;
    z-index: 60;
    right: 15px;
    position: fixed;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    @include for-md {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}

.ui-alert {
    height: 48px;
    min-width: 150px;
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-radius: var(--radius);

    &--fullWidth {
        width: 100%;
    }

    @each $color in $colors {
        &--#{$color} {
            box-shadow: $boxShadowSmall;
            border-left: 4px solid var(--#{$color});

            background-color: var(--grey);

            &--opacity {
                overflow: hidden;
                box-shadow: none;
                backdrop-filter: blur(4px);
            }

            .ui-alert__icon {
                margin-right: 8px;
            }

            .ui-alert__button {
                margin-left: 8px;
            }
        }
    }
}